<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://i.ibb.co/dkGDRcN/charity-modern-logo.jpg" alt="charity-modern-logo" border="0" height="36" /> Charity organisation
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header><h1 class="fw-light">Welcome</h1></header>
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">


            <p class="lead"><b>Short description of organisation</b></p>
            <p class="lead" style="color:black; "> <br> The goal of our organisation is to help people in need. We operate completely non-profit and focus solely on selfless help.
              Fundraisers are held for which then can apply.
              You can become a beneficiary by submitting an application and a reason.
              You can offer a help in the collection by making a deposit declaration. Any help is appreciated.
              To use our service please register or log in. </p>
            <p></p>
<!--            <p class="lead">Example img</p>-->
            <div class="center">
              <img src="https://i.ibb.co/dkGDRcN/charity-modern-logo.jpg" alt="charity-modern-logo" border="0" height="300" width="500" />

            </div>
            <div style="height: 50px"></div>
            <p class="lead mb-0">Let's make a better world together!</p>
        </div>
    </div>
</div>
