<!-- Navigation -->
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://i.ibb.co/dkGDRcN/charity-modern-logo.jpg" alt="charity-modern-logo" border="0" height="36" /> Charity organisation
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="routeR()" routerLinkActive="active" ariaCurrentWhenActive="page">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="fw-light">{{charityAction?.name}}</h1>
            <p class="lead">Short description of our goal</p>
            <p class="lead"><b></b> <br> {{charityAction?.description}} </p>
            <p></p>
            <p class="lead">Example img</p>
            <img src="https://i.ibb.co/dkGDRcN/charity-modern-logo.jpg" alt="charity-modern-logo" border="0" height="50" width="100" />
            <div style="height: 200px"></div>
            <div *ngIf="isUserBenefactor()">
                <div *ngIf="status;else other_content">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="routeA()" class="btn btn-primary tooltips" data-placement="top" data-original-title="Show">Apply </a>
                    </div>
                </div>
                <ng-template #other_content>
                    <div>
                        <div class="float-right btn-group btn-group-sm">
                            <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Show">{{reason}} </a>
                        </div>
                    </div>
                </ng-template>

            </div>
            <div *ngIf="isUserDonor()">
                <div class="float-right btn-group btn-group-sm">
                    <a (click)="routeS()" class="btn btn-primary tooltips" data-placement="top" data-original-title="Show">Support </a>
                </div>
            </div>
          <div *ngIf="isUserWorker()">
            <div class="float-right btn-group btn-group-sm">
              <a (click)="endCharityAction()" class="btn btn-primary tooltips" data-placement="top" data-original-title="Show">End action</a>
            </div>
          </div>
        </div>
    </div>
</div>
