<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://i.ibb.co/dkGDRcN/charity-modern-logo.jpg" alt="charity-modern-logo" border="0" height="36" /> Charity organisation
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="fw-light">Welcome</h1>
            <p class="lead">Support {{name}}</p>

            <main>
                <form #donationForm="ngForm" (ngSubmit)="onDonation(donationForm)" class="form_class">
                    <div class="form_div">
                        <label>Amount:</label>
                        <input type="number" step="0.01" ngModel name="amount" />
                        <input ngModel name="charityActionName" class="cdk-visually-hidden">
                        <div>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" ngModel name="anonymous">
                                <mat-radio-button class="example-radio-button" value=false>Public</mat-radio-button>
                                <mat-radio-button class="example-radio-button" value=true>Anonymous</mat-radio-button>
                            </mat-radio-group>
                            <div *ngIf="err">
                                <p style="color:red">*You need to put an amount amount</p>
                            </div>
                        </div>
                        <button class="btn btn-primary tooltips" type="submit">Donate</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>