<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://i.ibb.co/dkGDRcN/charity-modern-logo.jpg" alt="charity-modern-logo" border="0"height="36" />
            Charity organisation
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link"onclick="return back()" ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <header>
        <h1>Registration</h1>
    </header>
    <main>
        <form #registerForm="ngForm" (ngSubmit)="onRegisterUser(registerForm)" class="form_class">
            <div class="form_div">
                <label>First name:</label>
                <input class="field_class" ngModel name="firstName"type="text" placeholder="first name" autofocus>
                <label>Last name:</label>
                <input class="field_class" ngModel name="lastName" type="text" placeholder="last name" autofocus>
                <label>Login:</label>
                <input class="field_class" ngModel name="login" type="text" placeholder="login" autofocus>
                <label>Password:</label>
                <input class="field_class" ngModel name="password" type="text" placeholder="password">
                <!-- <label>Repeat password:</label>
                <input class="field_class" ngModel name="repeat_password_txt" type="text" placeholder="password"> -->
                <label>Email:</label>
                <input class="field_class" ngModel name="email" type="text" placeholder="email">

                <label id="example-radio-group-label">Pick your role</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="chosenRole"
                  name = "radio-button">
                  <mat-radio-button class="example-radio-button" *ngFor="let role of roles" [value]="role">
                    {{role}}
                  </mat-radio-button>

                  <!--
                  <mat-radio-button class="example-radio-button" value=1 >Donor</mat-radio-button>
                  <mat-radio-button class="example-radio-button" value=2 >Benefactor</mat-radio-button>
                  -->
                  
                </mat-radio-group>
                <div>Your chosen role is {{chosenRole}}</div>

                <button [disabled]="registerForm.form.invalid" class="register_button"  type="submit">Register</button>
            </div>
            <div class="info_div">
                <p>If you already have an account login <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">here</a></p>
            </div>
        </form>
    </main>
</body>